.benyamin{
    background-color: rgb(255, 255, 255);
    height: 80px;
    display: flex;
}
.class{
    position: relative;
    list-style-type: none;
    display: flex;
    padding: 0;
    font-size: 21px;
    bottom: 9px;
}
.class li{
    padding: 1rem 1rem;
    padding-left: 18px;
}
.benyamin p{
    position: relative;
    left: 22%;
    font-size: 25px;
}
.rere{
    position: relative;
    display: flex;
    list-style-type: none;
    direction: rtl;
    left: 46%;
    padding: 0;
    font-size: 21px;
    bottom: 7px;
}
.rere li{
    padding: 1rem 1rem;
}
.rom{
    position: relative;
    top: 11px;
    background-color: rgb(0, 0, 0);    
    width: 100%;
    height: 356px;
}
.jan{
    position: relative;
    background-color: rgb(255, 255, 255);
    direction: ltr;
    width: 253px;
    height: 154px;
    left: 256px;
    bottom: 327px;
}
.a{
    width: 100%;
    height: 356px;
}
.qwe{
    position: relative;
    text-align: center;
    top: 11px;
    font-size: 19px;
    border-radius: 6px;
    color: #943185;
}
.lego{
    width: 257px;
    text-align: center;
}
.peperoni{
    background-color: rgb(226, 226, 226);
    height: 236px;
}
.goril{
    position: relative;
    text-align: center;
}
.gamboo{
    position: relative;
    text-align: center;
}
.bofaloo{
    position: relative;
    text-align: center;
    width: 1403px;
}
.benjamin{
    position: relative;
    text-align: center;
}
.morteza{
    position: relative;
    width: 557px;
    height: 320px;
    top: 24px;
    padding-left: 51px;
    float: left;
}
.azar{
    position: relative;
    width: 511px;
    padding-left: 630px;
    top: 54px;
}
.mihan{
    position: relative;
    padding-left: 620px;
    top: 47px;
}
.maradena{
    position: relative;
    left: 55px;
    width: 399px;
    top: 60px;
    background-color: #d9a64b;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.badam{
    background-color: teal;
    width: 100%;
    height: 409px;
}
.everes{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 438px;
}
.bom{
    background-color: #c7c7c7;
    width: 100%;
    height: 550px;
}
.bom-form {
    display: flex ;
    margin: 0 auto;
    justify-content: center;
}
.random{
    display: flex;
    height: 435px;
    justify-content: space-around;
    padding-top: 4rem;
}
.gomroc{
    position: relative;
    background-color: white;
    width: 225px;
    height: 188px;
    text-align: center;
}
.galo{
    position: relative;
    width: 214px;
    height: 178px;
}
.bmw{
    position: relative;
    text-align: center;
}
.mazda{
    position: relative;
    background-color: white;
    width: 221px;
    height: 188px;
}
.benz{
    position: relative;
    width: 214px;
    height: 178px;
}
.toplearn{
    position: relative;
    text-align: center;
}
.dast{
    text-align: center;
    position: relative;
}
.shone{
    text-align: center;
    position: relative;
}
.op{
    position: relative;
    width: 288px;
    height: 29px;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.reset{
    position: relative;
    width: 100%;
    height: 593px;
    justify-content: center;
    text-align: center;
}
.QW{
    position: relative;
    text-align: center;}
.der{
    position: relative;
    width: 105px;
    height: 4px;
    background-color: #b9ccaf;
    border: none;
}
.jomangi{
    display: flex;
    justify-content: space-around;
}
.grizman{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 371px;
}
.top{
    position: relative;
    width: 320px;
    height: 371px;
}
.foto{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 371px;
}
.lebas{
    position: relative;
    width: 320px;
    height: 371px;
}
.mazerati{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 320px;
    height: 371px;
}
.lolo{
    position: relative;
    width: 320px;
    height: 371px; 
}
.eram{
    position: relative;
   text-align: center;
}
.roteil{
    position: relative;
    width: 282px;
    height: 31px;
    cursor: pointer;
    background-color:#a29d92;
    border-radius: 9px;
    border: none;
}
.salam{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 434px;
}
.roman{
    position: relative;
    width: 100%;
    height: 434px;
}
.motor{
    position: relative;

}
.rere a{
    text-decoration: none;
    color:#5cb190;
}
.class a{
    text-decoration: none;
    color: #5cb190;
}
.rere a:hover{
    text-decoration: overline;
    color: #d7ad86;
}
.class a:hover{
    text-decoration: overline;
    color: #d7ad86;
}
.maradena:hover{
  background-color: #bec2d7;
}
.roteil:hover{
    background-color: #bd8365;
}
.op:hover{
    background-color: #7d593d;
}
.barselona{
    display: flex;
}
.yoventos{
    position: relative;
    background-color: black;
    width: 605px;
    height: 282px;
    display: flex;
    justify-content:space-around;
    padding-top: 3rem;
}
.BARSA{
    color: white;
    text-align: center;
}
.perespoles{
    position: relative;
    text-align: left;
    width: 100px;
    height: 100px;
}
.ford{
    position: relative;
    color: white;
    text-align: center;

}
.nasagi{
    position: relative;
    text-align: center;
}
.manchester{
    color: white;
    position: relative;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:red;
}
.reins{
    position: relative;
    text-align: center;
    width: 153px;
    height: 23px;
    cursor: pointer;
}
.manchesteri{
    color: white;
    position: relative;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color:red;
}
.ring{
    position: relative;
    text-align: center;
}
.wwwe{
    display: flex;
    position: relative;
    width: 207px;
}
.wwe{
    position: relative;
    width: 207px;
}
.asli {
    display: flex;
    justify-content:space-around;
}
.marvel {
    position: relative;
    width: 60px;
}
.sonami{
    justify-content: center;
    text-align: center;
}
.iconha{
    position: relative;
    justify-content: center;
    text-align: center;
}
.oooo{
    display: block;
}
.rtger{
    display: block;
    padding-left: 14rem;
}
.reins{
    position: relative;
    margin-top: .8rem;
}
.form-pain{
    display: block;
    justify-content: center;
    text-align: center;
}